/***************TAG SELECTOR **********************/
body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 20px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-top: 0px;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #fff;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn {
  background:  #11cdd4;
  background-image: -webkit-linear-gradient(top,  #11cdd4, #2980b9);
  background-image: -moz-linear-gradient(top,  #11cdd4, #2980b9);
  background-image: -ms-linear-gradient(top,  #11cdd4, #2980b9);
  background-image: -o-linear-gradient(top,  #11cdd4, #2980b9);
  background-image: linear-gradient(to bottom,  #11cdd4, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 50px 0 50px 0;
}

.btn:hover {
  background:  #11cdd4;
  background-image: -webkit-linear-gradient(top,  #11cdd4, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #11cdd4, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #11cdd4, #2bc4ad);
  background-image: -o-linear-gradient(top,  #11cdd4, #2bc4ad);
  background-image: linear-gradient(to bottom,  #11cdd4, #2bc4ad);
  text-decoration: none;
}

/***************CLASS SELECTOR*******************/
.top-Container {
  background-color: #EAF6F6;
  position: relative;
  padding: 100px;
}

.middle-Container {

}
.bottom-container {
  background-color: #66BFBF;
  position: relative;
    padding: 50px 0 50px 0;
    margin: 20px 0 0 0;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 350px;
}
.heading {
  position: relative;
  top: 50px;
}
.sub-heading {
  position: relative;
  top: 50px;

}
.hello-text{
  margin-top: 25px;
  font-weight: bold;
}
.individual-skill{
  font-weight:bold;
}
/* .mountain {
    margin-top: 100px;
    position: relative;
    top: 100px;
} */
.skill-row{
  margin: 100px auto 0 auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.profile-img{
  margin-top: 100px;
  width: 200px;
}
.python-image{
  float: left;
  margin-right: 30px;
}
.dev-image{
  float: right;
  margin-left: 30px;
}
.pro-text{
  text-decoration: underline;
}
.self-description{
  margin: auto;
  line-height: 2;
  width: 38%;
  color: #40514E;
}
.footer-link{
  color: #11999E;
    margin-right: 25px;
    text-decoration: none;
}
.footer-text{
  color: #EAF6F6;
  font-size: 1 rem;
}
